<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bd5c731e-5f41-4f2e-8598-ceb69f8216ef/resourcegroups/ODTLerning/providers/Microsoft.Web/sites/ODTLearning</ResourceId>
    <ResourceGroup>ODTLerning</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://odtlearning.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>fe73e73e-2df6-4bb6-8cac-1bfd1536b419</ProjectGuid>
    <MSDeployServiceURL>odtlearning.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ODTLearning</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ODTLearning</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA//RJWWNBnkWWoAm02ZRkHAAAAAACAAAAAAAQZgAAAAEAACAAAAAVSj4OnLligw4y/316eOE2MRwjbiM0N8LM/8YDVEZBKgAAAAAOgAAAAAIAACAAAADKAFl/mJ4a5M7Q4eGhBSZmQTuP3pdutc2nB4MyWRB32oAAAABncjKHU7v9FxYg57FtKwDMOsN3RIhB/YUzMiQBvx5h9iDbQibRPiyhPWyMRR9tg5vQ7zvZKSefceUZb+wIU3uFnXVk87f+QI+zu0UtG1sus0xf+ODtL/vZ56MDPsw5tj0biU7BTdvucTLFnTNNqjHJKMpkoNIoJnhqwDZhkMlLHUAAAABqt5A9P3A47mYW6Nprfa3Y301cTzEuO0r2h9V4lb5RJhVhadQ4cK5h0w3PAITiDCR5CcRLsNrHDbsO7QpQzlq+</EncryptedPassword>
    <History>True|2024-06-08T11:58:21.0081490Z||;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>